In [1]:
import numpy as np
import pandas as pd
import matplotlib as mp

In [6]:
dfS1=pd.read_excel('AirTrafficData.xlsx',sheet_name='CountrywiseQuarterly')    #DataFrame for Sheet 1 of DataSet
dfS2=pd.read_excel('AirTrafficData.xlsx',sheet_name='CitypairwiseQuarterly')   #DataFrame for Sheet 2 of DataSet  
dfS3=pd.read_excel('AirTrafficData.xlsx',sheet_name='AirlinewiseMonthly')      #DataFrame for Sheet 3 of DataSet

,YEAR,QUARTER,COUNTRY NAME,PASSENGERS TO INDIA,PASSENGERS FROM INDIA,FREIGHT TO INDIA,FREIGHT FROM INDIA
0,2015,Q1,AFGHANISTAN,37194,32721,96.7,676.4
1,2015,Q1,AUSTRALIA,16676,19075,89.7,423.7
2,2015,Q1,AUSTRIA,13318,15529,563.8,707.0
3,2015,Q1,BAHRAIN,114087,133527,585.7,1909.5
4,2015,Q1,BANGLADESH,76357,75673,624.1,1052.9
5,2015,Q1,BELGIUM,21266,25172,1487.9,1141.3
6,2015,Q1,BHUTAN,6251,6424,0.9,8.0
7,2015,Q1,BURMA,9540,9192,0.6,9.2
8,2015,Q1,CANADA,13272,12611,82.5,85.0
9,2015,Q1,CHINA,53072,60558,3212.2,2092.6
10,2015,Q1,EGYPT,2427,3529,29.1,31.5
11,2015,Q1,ETHIOPIA,27175,33188,154.3,2752.4
12,2015,Q1,FINLAND,13673,15886,685.9,1125.4
13,2015,Q1,FRANCE,88632,97306,4419.6,5674.5
14,2015,Q1,GEORGIA,0,0,0.0,0.0
15,2015,Q1,GERMANY,160772,169641,11834.6,13570.4
16,2015,Q1,HONG KONG,150400,162576,19278.2,22273.0
17,2015,Q1,IRAN,9521,8323,25.0,485.7
18,2015,Q1,IRAQ,0,0,0.0,0.0
19,2015,Q1,ISRAEL,8664,9773,269.7,392.5
20,2015,Q1,ITALY,14727,21846,245.6,394.4
21,2015,Q1,JAPAN,37817,42445,1871.4,2218.3
22,2015,Q1,JORDAN,0,0,0.0,0.0
23,2015,Q1,KAZAKHSTAN,6582,8318,5.7,84.5
24,2015,Q1,KENYA,23830,30259,74.0,1234.3
25,2015,Q1,KOREA,20089,23732,947.2,514.3
26,2015,Q1,KUWAIT,93178,109403,1464.8,2551.8
27,2015,Q1,KYRGYZSTAN,609,818,0.0,131.2
28,2015,Q1,MALAYSIA,232818,255028,3640.3,4974.1
29,2015,Q1,MALDIVES,27191,32820,19.6,428.3
...,...,...,...,...,...,...,...
469,2017,Q1,KUWAIT,117414,132409,1185.6,4912.8
470,2017,Q1,KYRGYZSTAN,3206,3900,3.2,56.1
471,2017,Q1,MALAYSIA,301938,315677,4316.0,5320.0
472,2017,Q1,MALDIVES,31969,37927,7.9,474.7
473,2017,Q1,MAURITIUS,23928,24864,72.2,654.4
474,2017,Q1,NEPAL,119363,124339,147.2,362.5
475,2017,Q1,NETHERLANDS,66161,76634,3537.5,3485.3
476,2017,Q1,OMAN,373984,401851,558.0,5410.3
477,2017,Q1,PAKISTAN,2122,3030,4.3,60.7
478,2017,Q1,QATAR,348660,382367,16166.1,28409.6
479,2017,Q1,REUNION,1695,2104,0.5,18.1
480,2017,Q1,RUSSIA,55102,62477,75.3,1279.0
481,2017,Q1,SAUDI ARABIA,388916,424112,2875.5,14869.6
482,2017,Q1,SEYCHELLES,7740,7842,1.3,18.6
483,2017,Q1,SINGAPORE,436300,495624,13649.9,16280.8
484,2017,Q1,SOUTH AFRICA,0,0,0.0,0.0
485,2017,Q1,SPAIN,5939,6211,27.3,290.4
486,2017,Q1,SRI LANKA,232234,234260,2456.7,4599.4
487,2017,Q1,SWITZERLAND,30884,39354,2403.2,2771.3
488,2017,Q1,TAIWAN,8430,9342,796.1,297.7
489,2017,Q1,TAJIKISTAN,1110,1172,2.4,42.7
490,2017,Q1,THAILAND,402740,408134,10857.9,7897.5
491,2017,Q1,TURKEY,55231,64228,2591.2,3213.4
492,2017,Q1,TURKMENISTAN,11531,11182,0.0,47.6
493,2017,Q1,UNITED ARAB EMIRATES,2232638,2480816,22876.4,67074.1
494,2017,Q1,UNITED KINGDOM,311543,337464,13194.9,19492.1
495,2017,Q1,UNITED STATES,120375,142848,1666.3,2412.2
496,2017,Q1,UZBEKISTAN,12585,14158,949.6,1360.3
497,2017,Q1,VIETNAM,0,0,0.0,0.0
498,2017,Q1,YEMEN,1676,1543,0.0,14.4

# Q1. Which foreign flight carry maximum number of passengers to and from India?

# Q2. In the year 2015, show the trend of freight from India on the basis of 4 quarters. And compare it with the trend of freight to India.

# Q3. In 2015, which foreign airlines did not travel to and from India but did in the subsequent year?

# Q4. Which foreign airlines carries only freight to and from India but no passenger?